<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdut.safecuit.device.dao.ElectricBoxMapper" >
  <resultMap id="BaseResultMap" type="com.gdut.safecuit.device.common.po.ElectricBox" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="longitude" property="longitude" jdbcType="REAL" />
    <result column="latitude" property="latitude" jdbcType="REAL" />
    <result column="del_tag" property="delTag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, address, org_id, parent_id, longitude, latitude, del_tag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from electric_box
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectElectricBoxByFuzzyQuery" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from electricBox_box
    where name like '%#{name}%'
  </select>

  <select id="selectByPage" resultMap="BaseResultMap">
    select * from electric_box where org_id = #{orgId}
    <if test="name != null">
      AND name = #{name}
    </if>
    limit #{page.index} ,#{page.pageSize}
  </select>

  <!--获取电箱对应机构的地址与名称-->
  <resultMap id="searchOrgInfoMap" type="java.util.Map">
    <result column="address" property="address" />
    <result column="orgName" property="orgName" />
    <result column="personName" property="personName" />
    <result column="phone" property="phone" />
  </resultMap>
  <select id="searchOrgInfo" resultMap="searchOrgInfoMap" parameterType="java.lang.Integer">
    SELECT CONCAT(p.name,c.name,a.name) as address ,o.`name` as orgName,,o.`phone` as phone " +
    "FROM province p ,city c ,area a ,organization o " +
    "WHERE p.id = c.province_id AND c.id = a.city_id AND a.id = o.`area_id` " +
    "AND o.`id` = #{orgId};
  </select>



  <select id="selectByParentId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from electric_box where parent_id = #{parentId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from electric_box
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="relateUser" >
    insert into electric_user(user_id ,electric_box_id ,date) values
    <foreach collection="userIds" item="userId" separator=",">
      (#{userId} ,#{electricBoxId} ,#{date})
    </foreach>
  </insert>

  <insert id="insert" parameterType="com.gdut.safecuit.device.common.po.ElectricBox" >
    insert into electric_box (id, name, address, 
      org_id, parent_id, longitude, 
      latitude, del_tag)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{longitude,jdbcType=REAL}, 
      #{latitude,jdbcType=REAL}, #{delTag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gdut.safecuit.device.common.po.ElectricBox" >
    insert into electric_box
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="delTag != null" >
        del_tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=REAL},
      </if>
      <if test="delTag != null" >
        #{delTag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdut.safecuit.device.common.po.ElectricBox" >
    update electric_box
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=REAL},
      </if>
      <if test="delTag != null" >
        del_tag = #{delTag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdut.safecuit.device.common.po.ElectricBox" >
    update electric_box
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=REAL},
      latitude = #{latitude,jdbcType=REAL},
      del_tag = #{delTag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>